@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

body{
    display: flex;
    background-color: #f0f2f5;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 112px;
    margin-bottom: 98px;
}


button{
    cursor: pointer;
}

img{
    margin: -28px;
    width: 301px;
    padding: 10px 0 16px;
}

.head{
    font-size: 28px;
    font-family: 'SF Pro Display', sans-serif;
    padding: 0 0 20px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.input{
    padding: 6px 16px;
    width: 364px;
    height: 52px;
    display: flex;
    justify-content: center;
}

.create{
    padding: 0px 16px;
    width: 197px;
    font-family: Helvetica, sans-serif;
    height: 48px;
    border: none;
    border-radius: 6px;
    margin-top: 4px ;
    font-size: 17px;
    color: white;
    background-color: #42b72a;
    font-weight: 600;
}
.create:hover{
    background-color: #3aa525;
}

a{
    font-size: 14px;
    text-decoration: none;
}

input{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
    font-size: 17px;
    flex-grow: 1;
    padding: 0px 16px;
}

.forget{
    margin: 16px 0px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #1877f2;
}

.br{
    background-color: #dadde1;
    margin: 20px 16px;
    width: 364px;
    height: 1px;
}

form{
    margin: 40px 0px 0px;
    padding: 10px 0px 24px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    font-family: Helvetica, sans-serif;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login{
    margin-top: 12px;
    background-color: #1877f2;
    padding: 0 16px;
    color: azure;
    height: 48px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    width: 364px;
}
.login:hover{
    background-color: #176bd9;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    flex-direction: column;
}

.end{
    margin: 28px 0px 0px;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;

}
.enda{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: black;
}
a:hover{
    text-decoration: underline;
}
input:focus{
    border: 1px solid #3188fa;
    outline: none !important;
    box-shadow: 0 0 5px #719ECE;
}

.lower{
    padding: 20px 0px 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    display: flex;
    
    flex-direction: column;
    max-width: 980px;
}
li{
    text-decoration: none;
    list-style-type: none;
    color: #8A8D91;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.lang{
    margin-left: -10px;
    padding-top: 8px;
    display: flex;
}
.langs{
    display: flex;
    justify-content: flex-start;
}
.lang li{
    padding: 0px 0px 0px 10px;
}
.lbr{
    background-color: #dadde1;
    margin: 8px 0px;
    width: 100%;
    height: 1px;
}
.misc{
    margin: 0px 0px 0px -10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.misc li{
    padding: 0px 0px 0px 20px;
    padding-bottom: 6px;
}
.lowest{
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #737373;
    width: 1000px;
    margin-top: 16px;
    margin-bottom: 20px;
}
.meta{
    padding: 0px 0px 0px 10px;
}